* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --bg-color: hsl(0, 0%, 100%);
    --bg-selectcard: #c09ab8; 
    --bg-card: #E1E1E6;
    --tt-color: #323238;
    --cnt-color: black;
    --switch-bg-url: url(./icons/light.svg);

}

.dark-mode {
    --bg-color: #29292E;
    --bg-selectcard: #6e5781; 
    --bg-card: #676769;
    --tt-color: rgb(189, 186, 186);
    --cnt-color: invert(100%) brightness(10000%);
    --switch-bg-url: url(./icons/dark.svg);

  }

body {
    background-color: var(--bg-color);
    color: var(--tt-color);

    display: block;
    min-height: 100vh;
    width: 100vw;
}


.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Urbanist', sans-serif;
    font-weight: 500;
    font-size: 12.6rem;
    min-width: 32.1rem;
}

.controls {
    
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 4rem;
}

button img {
    width: 4.8rem;
    height: 4.8rem;
}


button {
    color: var(--cnt-color);
    border: none;
    cursor: pointer;
    width: 4.8rem;
    height: 4.8rem;
}

.controls button img {
    background-color: var(--bg-color);
    color: var(--cnt-color)

}

.controls button:hover {
    opacity: 0.7;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#switch {
    display: flex;
    align-self: flex-start;
    justify-content: end;
    margin-top: 6rem;
    margin-right: 6rem;
    margin-bottom: 19.2rem;
}

#switch button {
    background: var(--switch-bg-url) center no-repeat
}

.container {
    display: flex;
    flex-direction: column;
    margin-right: 19.2rem;
}

.cards-01 button {
    background-color: var(--bg-card);
    margin: 1.6rem;
    border-radius: 2.4rem;
    height: 15.2rem;
    width: 13.8rem;
}

.select {
    background-color: var(--bg-selectcard) !important;
}

.select img {
    filter: invert(100%) brightness(10000%);
}

.slider-cont {
    display: flex;
    align-items: center;
    padding-top: 3rem;
    border-radius: 5rem;
}

.slider {
    position: relative;
    width: 30rem;
    height: .4rem;
}

.slider input[type="range"] {
    position: absolute;
    left: 2.5rem;
    top:0;
    width: 9rem;
    height: .4rem;
    background: white;
    appearance: none;
    border-radius: .5rem;
    z-index: 99;
}

.slider input::-webkit-slider-thumb {
    appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    background-color: white;
    border: none;
    border-radius: 50%;
}



 
  
 